<footer class="card-footer text-center mt-4">Realizado por System, UTM 2021</footer>
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.js"></script>
</body>

</html>
